#dibujo{
    border: black solid;
    width: 180px;
    height: 200px;
    margin:0 auto;
}
#teclado{
    
    width: 200px;
    height: 230px;
    margin:0 auto;
}
.botones{
    
    width: 30px;
    height: 20px;
    padding: 5px;
    text-align: center;
    margin: 1px;
    
}
#espacioPalabra{
    margin: auto;
    width: 400px;
    height: 50 px;
    border:white solid;


    
}
.BotonLetras{
    width: 20px;
    height: 20px;
    margin:2px;
}